# Python
**/__pycache__
.pytest_cache

# Environment
.pixi
.venv

# Hatch
dist
*.egg-info

# ruff
/.ruff_cache

# MyPy
.mypy_cache

# coverage
/.coverage*
/htmlcov
/coverage.xml

# Tox
.tox

# System
.DS_Store
