# Python
**/__pycache__

# Poetry, Pixi and Setuptools
/.venv
/build
/dist
*.egg-info
**/.pixi

# nox
/.nox

# ruff
/.ruff_cache

# IDEs
/.vscode

# coverage
/.coverage*
/htmlcov
/coverage.xml

# System
.DS_Store
