name: CI

on:
  pull_request:
  push:
    branches:
      - main

env:
  pixi-version: "0.19.1"

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        pixi-version: ["0.18.0", "0.19.1"]
        python-version: ["38", "39", "310", "311", "312"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Pixi ${{ matrix.pixi-version }}
        uses: prefix-dev/setup-pixi@v0.5.1
        with:
          pixi-version: v${{ matrix.pixi-version }}
          run-install: false
      - name: Test with pixi
        run: pixi run --locked --environment py${{ matrix.python-version }} test-py${{ matrix.python-version }}
      - name: Store coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.pixi-version }}
          path: .coverage.Linux*
  coverage:
    needs: test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Pixi ${{ env.pixi-version }}
        uses: prefix-dev/setup-pixi@v0.5.1
        with:
          pixi-version: v${{ env.pixi-version }}
          run-install: false
      - name: Fetch coverage
        uses: actions/download-artifact@v4
        with:
          pattern: coverage-*
          merge-multiple: true
      - name: Combine coverage and generate report
        run: pixi run --locked --environment test coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Pixi ${{ env.pixi-version }}
        uses: prefix-dev/setup-pixi@v0.5.1
        with:
          pixi-version: v${{ env.pixi-version }}
          run-install: false
      - name: Run code quality checks
        run: pixi run --locked --environment ruff lint
