name: CI

on:
  pull_request:
  push:
    branches:
      - main

env:
  pixi-version: "0.31.0"

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        pixi-version: ["0.30.0", "0.31.0"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Pixi ${{ matrix.pixi-version }}
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v${{ matrix.pixi-version }}
          run-install: false

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Test, lint and typecheck
        run: uv run tox

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
