name: Release

on:
  push:
    tags:
      - "v*"

env:
  pixi-version: "0.30.0"

jobs:
  pypi-publish:
    name: Publish release to PyPI
    runs-on: ubuntu-22.04
    environment: release
    permissions:
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Pixi ${{ env.pixi-version }}
        uses: prefix-dev/setup-pixi@v0.5.1
        with:
          pixi-version: v${{ env.pixi-version }}
          run-install: false
      - name: Build release
        run: pixi run --locked --environment build build
      - name: Check that tag version and Pixi version match
        run: '[[ "v$(pixi project version get)" == "${{ github.ref_name }}" ]]'
      - name: Check that tag version and Pyproject version match
        run: '[[ "v$(pixi run --locked --environment build hatch version)" == "${{ github.ref_name }}" ]]'
      - name: Upload distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
